.row{
    max-width: 1140px;
    margin:0 auto;
}
.grid-container-login{
	display: grid;
	grid-template-areas: 
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
    '. header header .'
	'. subHead subHead .'
	'. inputId inputId .'
	'. inputPsw inputPsw .'
	'. signIn signIn.'
	'. signUp signUp .';
    grid-gap: 10px;
    background-color: #2196F3;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	justify-items: center;
	align-items: center;
}

.grid-container-signup{
	display: grid;
	grid-template-areas: 
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
	' . . . . '
    '. header header .'
	'. subHead subHead .'
	'. firstName firstName .'
	'. lastName lastName .'
	'. inputId inputId .'
	'. inputPsw inputPsw .'
	'. inputPswConfirm inputPswConfirm .'
	'. signUp signUp .';
    grid-gap: 10px;
    background-color: #2196F3;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	justify-items: center;
	align-items: center;
}

.grid-container > div {
	text-align: center;
	max-width: auto;
  }

  .header{
	 font-size: 30px;
      grid-area: header;
  }

  .subHead{
	max-width: 140px;
	font-size: 10px;
    grid-area: subHead;
}

.firstName{
	max-width: 140px;
    grid-area: firstName;
}

.lastName{
	max-width: 140px;
    grid-area: lastName;
}


.inputId{
	max-width: 140px;
    grid-area: inputId;
}

.inputPsw{
	max-width: 140px;
    grid-area: inputPsw;
}

.inputPswConfirm{
	max-width: 140px;
    grid-area: inputPswConfirm;
}

.signIn{
	font-size: 10px;
	max-width: 100px;
	grid-area: signIn;
}

.signUp{
	font-size: 10px;
	max-width: 100px;
	grid-area: signUp;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
  }
  
  li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
	background-color: #555;
	color: white;
  }